<div class="contain">
	<div class="login-container">
	<div class="login-box">
		<h2>Login</h2>
	<label>Username: </label>
	<input type="text" name="user" [(ngModel)]="uId" class="form-control" placeholder="Enter username">
	<label>Password: </label>
	<input type="password" name="Password" [(ngModel)]="uPass" class="form-control" placeholder="Enter password">
	<div class="butn">
		<button type="button" class="btn-sm btn-outline-primary" (click)="getData()">Submit</button>
	</div>
</div>
	<div class="marq">
		<marquee direction=""> Enter Username: <b>admin</b> and password: <b>admin@123</b></marquee>
	</div>
</div>
</div>
