<h3>Enter Lighthouse Details</h3>
<div class="form-box">

	<form #refData="ngForm" (ngSubmit)="updateBranch(refData.value)">

			<div class="form-group">
			<label>Enter Lighthouse Branch:</label>
			<input type="text" class="form-control" #refname="ngModel" name="branch" placeholder="Enter User's Name" [pattern]="namePattern" [ngModel]=lightObj?.branch>
				<div class="warn" *ngIf=" refname.invalid && refname.touched">
					<div *ngIf="refname.hasError('required')">
					This field is required.
					</div>
					<div *ngIf="refname.hasError('pattern')">
					Full name must contain only character with minimum 3 and max 30.
					</div>
				</div>
			</div>

			<div class="form-group">
			<label>Enter co-ordinator name:</label>
			<input type="text" class="form-control" #refname="ngModel" name="cordinator" placeholder="Enter co-ordinator name" [pattern]="namePattern" [ngModel]=lightObj?.cordinator>
				<div class="warn" *ngIf=" refname.invalid && refname.touched">
					<div *ngIf="refname.hasError('required')">
					This field is required.
					</div>
					<div *ngIf="refname.hasError('pattern')">
					Full name must contain only character with minimum 3 and max 30.
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Enter email:</label>
				<input type="text" name="email" #refemail="ngModel" class="form-control" placeholder="Enter lighthouse email id" pattern="([A-Za-z0-9_\-\.])+\@([A-Za-z_\-\.]{5})+\.([A-Za-z]{2,4})" [ngModel]=lightObj?.email>
				<div class="warn" *ngIf="refemail.invalid && refemail.touched">
					<div *ngIf="refemail.hasError('required')">  
					This field is required.
					</div>
					<div *ngIf="refemail.hasError('pattern')">
					Email id should be in proper formate
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Enter Address:</label>
			<input type="text" class="form-control" #refaddress="ngModel" name="address" placeholder="Enter lighthouse branch address" [pattern]="namePattern" [ngModel]=lightObj?.address>
			<div class="warn" *ngIf=" refaddress.invalid && refaddress.touched">
					<div *ngIf="refaddress.hasError('required')">
					This field is required.
					</div>
					<div *ngIf="refaddress.hasError('pattern')">
					Adress must contain only character with minimum 3 and max 30
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Enter Mobile No:</label>
			<input type="number" class="form-control"  #refcontact="ngModel" name="mobile" placeholder="Enter User's Mobile Number" [pattern]="contactPattern" [ngModel]=lightObj?.mobile>
				<div class="warn" *ngIf="refcontact.invalid && refcontact.touched">
					<div *ngIf="refcontact.hasError('required')">
					This field is required.
					</div>
					<div *ngIf="refcontact.hasError('pattern')">
					Contact should contain min 10 numbers
					</div>
				</div>
			</div>
			
			<div class="btn-box">
				<button type="submit" class="btn btn-primary" [disabled]="refData.invalid" >Update Lighthouse</button>
			</div>
		</form>
</div>