<div class="content-nav row">
	<div class="col-md-8">
		<button routerLink="/lighthouse/add"><i class="fa fa-plus" aria-hidden="true"></i> Add Branch</button>
		<button routerLink="/lighthouse/card" class="ibut" title="Grid View"><i class="fa fa-th-large" aria-hidden="true"></i> Grid</button>
		<button routerLink="/lighthouse/list" class="ibut" title="List View"><i class="fa fa-th-list" aria-hidden="true"></i> List</button>
	</div>
	<div class="col-md-4">
		<label for="Search">
			<input type="text" placeholder="Search here" class="form-control" [(ngModel)]="searchKey">
		</label>
	</div>
</div>

<div class="table-box table-responsive">
	<table class="table table-sm table-primary table-hover">
		<thead>
			<th>Branch Name</th>
			<th>Co-ordinator</th>
			<th>Email Id</th>
			<th>Mobile No.</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr *ngFor="let branch of branchData |filter:searchKey | paginate: {itemsPerPage: 8, currentPage: p }">
				<td>{{branch.branch}}</td>
				<td>{{branch.cordinator}}</td>
				<td>{{branch.email}}</td>
				<td>{{branch.mobile}}</td>
				<td>
					<button class="btn btn-sm btn-outline-dark mb-1 mt-1 mx-1" title="View More Info" (click)="openModal(template)"><i class="fa fa-eye" aria-hidden="true" ></i></button>
					<button class="btn btn-sm btn-outline-dark mb-1 mt-1 mx-1" title="Edit branch" [routerLink]="['/lighthouse/edit',branch.id]"><i class="fa fa-pencil-square" aria-hidden="true" ></i></button>
					<button class="btn btn-sm btn-outline-dark mb-1 mt-1 mx-1" title="Delete branch" (click)="delete(branch.id,branch.branch)"><i class="fa fa-trash" aria-hidden="true" ></i></button>
				</td>

				<ng-template #template>
			<div class="modal-header">
				    <h4 class="modal-title pull-left">Lighthouse</h4>
				    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				      <span aria-hidden="true">&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">
				    <table class="table">
				    	<tr>
				    		<td>Branch:</td>
				    		<td>{{branch.branch}}</td>
				    	</tr>
				    	<tr>
				    		<td>Branch Co-ordinator:</td>
				    		<td>{{branch.cordinator}}</td>
				    	</tr>
				    	<tr>
				    		<td>Address</td>
				    		<td>{{branch.address}}</td>
				    	</tr>
				    	<tr>
				    		<td>Email Id:</td>
				    		<td>{{branch.email}}</td>
				    	</tr>
				    	<tr>
				    		<td>Mobile No:</td>
				    		<td>{{branch.mobile}}</td>
				    	</tr>
				    </table>
			</div>	
		</ng-template>

			</tr>
		</tbody>
	</table>

	<div class="pagination">
		<pagination-controls class="pages" (pageChange)="p = $event"></pagination-controls>
	</div>
	
</div>
